* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url('files/tło.gif') no-repeat center center fixed;
  background-size: cover;
  backdrop-filter: blur(5px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  width: 350px;
  text-align: center;
  color: white;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 2px solid #fff;
}

.nickname {
  font-size: 1.8rem;
  font-weight: bold;
}

.tags {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #bbb;
}

.location {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #aaa;
}
.socials {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.2s ease, color 0.3s ease;
}

.socials a:hover {
  transform: scale(1.2);
  color: #38bdf8;
}
.player-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

